.header {

    &__top {
        background-color: #F0F2F4;
        padding: 5px 0;
        font-size: 16px;
        color: #8B8D8F;
    }

    &__top-row {
        align-items: center;
    }

    &__location {
        display: flex;
        align-items: center;
    }

    &__location-icon {
        fill: #4B4F59;
        min-width: 11.8px;
        min-height: 12.7px;
        width: 11.8px;
        height: 12.7px;
        margin-right: 6px;
    }

    &__location-text {
        font-weight: 500;
        color: #8B8D8F;
        font-style: normal;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__topmenu {
        margin-left: auto;
        margin-right: auto;
        width: fit-content;
    }

    &__topmenu-list {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__topmenu-item {
        margin-right: 3.26424870466vw;
        &:last-child {
            margin-right: 0;
        }
    }

    &__topmenu-link {
        text-decoration: none;
        color: #8B8D8F;
        font-weight: 500;
        &:hover {
            text-decoration: underline;
        }
    }

    &__time {
        background-color: #2867B1;
        padding: 5px 10px;
        color: #fff;
        display: flex;
        width: 100%;
        align-items: center;
        font-weight: 500;
        min-width: 158px;
        border-radius: 5px;
    }

    &__time-icon {
        width: 15px;
        height: 15px;
        stroke: #fff;
        fill: transparent;
        margin-right: 8px;
        
        path {
            
        }
    }

    &__time-text {
        font-size: 12.18px;
    }

    &__lang {
        margin-left: auto;
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__lang-btn {
        background: transparent;
        border: none;
        display: block;
        width: 25.19px;
        height: 20px;
        margin: 0 10px 0 0;
        padding: 0;
        cursor: pointer;
        img {
            width: 100%;
            height: 100%;
            pointer-events: none;
        }
        &:last-child {
            margin-right: 0;
        }
    }

    &__col {

        &--location {
            width: 45.5%;
        }

        &--topmenu {
            width: 36.9%;
        }

        &--time {
            width: 13.17%;
        }

        &--lang {
            width: 11.1%;
        }

        &--logo {
            width: 17.2972972973%;

        }

        &--cat {
            width: 18.01%;
        }

        &--menu {
            width: 30.5%;
        }

        &--mail {
            width:18.3%;
        }

        &--ui {
            width: 16.0617760618%;
        }

        &--burger {
            display: none;
        }
    }

    &__bottom {
        padding: 15px 0;
        font-size: 16px;
    }

    &__bottom-row {
        align-items: center;
    }

    &__col {
    }

    &__logo {
        max-width: 224px;
        width: 100%;
        display: block;
        img {
            width: 100%;
            height: 100%;
        }
    }

    &__cat {
        display: flex;
        align-items: center;
        max-width: 194px;
        width: 194px;
        padding: 6px 8px;
        border-radius: 6px;
        border: 1px solid #2280E2;
        background-color: transparent;
        cursor: pointer;
        margin: 0 0 0 auto;
        transition: .3s;
        outline: 1px solid transparent;
        &:hover {
            .header__cat-text {
                color: #2280E2;
            }
            
        }
        &:focus + .header__catmenu {
            display: block;
        }
    }

    &__cat-icon {
        width: 38px;
        height: 38px;
    }

    &__cat-text {
        margin-left: 29px;
        font-size: 16px;
        font-weight: 600;
        color: #737373;
        transition: .3s;
    }

    &__catmenu {
        position: fixed;
        max-width: 1295px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        background-color: #fff;
        border-radius: 0px 0px 10px 10px;
        padding-top: 15px;
        display: none;
        z-index: 111;
        &:hover {
            display: block;
        }
    }

    &__catmenu-lists {
        display: flex;
        background-color: #fff;
        z-index: 2;
    }

    &__catmenu-container {
        height: fit-content;
    }

    &__catmenu-head {
        background: #F0F2F4;

    }

    &__catmenu-title {
        color: #5D5D5D;
        display: block;
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 22px; /* 137.5% */
        padding: 6px 0;
        display: none;
    }

    &__catmenu-back {
        display: none;
    }

    &__catmenu-list {
        list-style: none;
        padding: 0;
        margin: 15px 0 0 0;

        li {
        }

        li a {
        }
    }

    &__catmenu-item {
        display: flex;
        align-items:center;
        a {
            color: #4B4F59;
            font-family: Montserrat;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            text-decoration: none;

        }
        
    }

    &__catmenu-sub {

        ul {
            columns: 3;
        }
    }
    
    &__col-menu {
    }

    &__menu {
    }

    &__menu-list {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &__menu-item {
        margin-right: 58px;
        &:last-child {
            margin-right: 0;
        }
    }

    &__menu-link {
        text-decoration: none;
        color: #4B4F59;
        font-weight: 500;
        transition: .3s;
        border-bottom: 1px solid transparent;
        &:hover {
            color: #2280E2;
            border-color: #2280E2;
        }
    }

    &__mail {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        text-decoration: none;
    }

    &__mail-icon {
        width: 16px;
        height: 11.2px;
        fill: #4B4F59;
        margin-right: 6px;
    }

    &__mail-text {
        color: #4B4F59;
        font-weight: 500;
    }

    &__ui {
        text-align: right;
        margin-top: -22px;
        a {
            display: block;
        }
    }

    &__ui-leed {
        color: #2867B1;
        font-family: Montserrat;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px; /* 166.667% */
        text-decoration-line: underline;
    }

    &__phone {
        color: #4B4F59;
        font-family: Montserrat;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        text-decoration: none;
        line-height: 20px;
        transition: .3s;
        &:hover {
            color:#2280E2;
        }
    }

    &__burger {
        width: 30px;
        height: 20px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 102;
        box-sizing: content-box;
        padding: 5px;
        margin-left: 5px;
        background: transparent;
        border: none;
        span {
            width: 100%;
            height: 2px;
            position: relative;
            transition: .3s;
            pointer-events: none;

            &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: #000;
                top: 0;
                left: 0;
                transition: .3s;
            }
        }

        &.active {
            span:first-child {
                transform: translateY(8px);

                &::after {
                    transform: rotateZ(45deg);
                }
            }

            span {
                transform: scale(0);

                &::after {

                    background-color: #000;
                }
            }

            span:last-child {
                transform: translateY(-10px);

                &::after {
                    transform: rotateZ(-45deg);
                }
            }
        }
    }
}
.container {
}
.row {
}
.header {


}
.container {
}
.custom-row {
}
